<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	<f:view contentType="text/html">

		<head>
			<title>Login Page - <ui:insert name="title" /></title>
				<meta name="viewport" content="width=device-width, initial-scale=1" />
					<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
						<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
							<link type="text/css" rel="stylesheet"
							href="/ai/javax.faces.resource/css/screen.css.xhtml?ln=standard&amp;v=1_0" />	
							<!--h:outputStylesheet does not work for some reason  -->
							<!--<h:outputStylesheet library="default" name="css/logintheme.css"  />-->
								<link type="text/css" rel="stylesheet"
								href="/ai/javax.faces.resource/css/logintheme.css.xhtml?ln=standard&amp;v=1_0" />
									<link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;subset=latin-ext" rel="stylesheet"/>
		</head>

		<body>
			<form name="login" method="post" class="header">
				<div class="loginError">
					<c:if test="${param.error != null}">
						<label>Failed to login.</label>
						<h:outputText value="${param.error}" />
						<c:if test="${SPRING_SECURITY_LAST_EXCEPTION != null}">
							<label>Reason: </label>
							<h:outputText value="${SPRING_SECURITY_LAST_EXCEPTION.message}" />
						</c:if>
					</c:if>
				</div>
				<div class="loginError">
					<c:if test="${param.invalid != null}">
						<label>Session was Invalidated. Please login again.</label>
						<div />
						<label>Reason: </label>
						<h:outputText value="${param.invalid}" />
					</c:if>
				</div>
		<div class = "image">
			<div class="logoutCenter_loginCenter">
				<div class="logoutCenter">
					<c:if test="${param.logout != null}">
						<h3>You have been logged out.</h3>
					</c:if>
				</div>
						<div class="loginCenter">
							<h4>Please sign in</h4>
								<div class="loginPanel">
									<p:panelGrid columns="1" cellpadding="5">
										<h:outputLabel value="Username:" />
										<input type="text" id="username" name="username"
										class=" login-ui-inputtext login-ui-widget login-ui-state-default login-ui-corner-all  login-ui-inputfield ui-inputfield" />
											<h:outputLabel value="Password:" />
											<input type="password" id="password" name="password"
											class="login-ui-inputtext login-ui-widget login-ui-state-default login-ui-corner-all  login-ui-inputfield ui-inputfield" />
												<div class="form-actions">
													<p:commandButton type="submit" value="Sign in"
													class="login-ui-widget login-ui-state-default login-ui-corner-all ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ">
													</p:commandButton>
												</div>
									</p:panelGrid>
								</div>
						</div>
			</div>
		  </div>
				<footer class="footer2">© Altimi Softiti</footer>
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
			</form>
		</body>
	</f:view>
</ui:composition>
