/** jQuery UI CSS Framework 1.8.9** Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)* Dual licensed under the MIT or GPL Version 2 licenses.* http://jquery.org/license** http://docs.jquery.com/UI/Theming/API** To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana,%20Arial,%20sans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=333333&bgTextureHeader=08_diagonals_thick.png&bgImgOpacityHeader=8&borderColorHeader=a3a3a3&fcHeader=eeeeee&iconColorHeader=bbbbbb&bgColorContent=f9f9f9&bgTextureContent=04_highlight_hard.png&bgImgOpacityContent=100&borderColorContent=cccccc&fcContent=222222&iconColorContent=222222&bgColorDefault=111111&bgTextureDefault=02_glass.png&bgImgOpacityDefault=40&borderColorDefault=777777&fcDefault=e3e3e3&iconColorDefault=ededed&bgColorHover=1c1c1c&bgTextureHover=02_glass.png&bgImgOpacityHover=55&borderColorHover=000000&fcHover=ffffff&iconColorHover=ffffff&bgColorActive=ffffff&bgTextureActive=01_flat.png&bgImgOpacityActive=65&borderColorActive=cccccc&fcActive=222222&iconColorActive=222222&bgColorHighlight=ffeb80&bgTextureHighlight=06_inset_hard.png&bgImgOpacityHighlight=55&borderColorHighlight=ffde2e&fcHighlight=363636&iconColorHighlight=4ca300&bgColorError=cd0a0a&bgTextureError=06_inset_hard.png&bgImgOpacityError=45&borderColorError=9e0505&fcError=ffffff&iconColorError=ffcf29&bgColorOverlay=aaaaaa&bgTextureOverlay=04_highlight_hard.png&bgImgOpacityOverlay=40&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=03_highlight_soft.png&bgImgOpacityShadow=50&opacityShadow=20&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px*/
/* Component containers----------------------------------*/
.login-ui-widget {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.1em;
}

.login-ui-widget .login-ui-widget {
	font-size: 1em;
}

.login-ui-widget input, .login-ui-widget select, .login-ui-widget textarea, .login-ui-widget button
	{
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
}

.login-ui-widget-content {
	border: 1px solid #cccccc;
	background: #f9f9f9
		url(/ai/javax.faces.resource/img/black-tie/ui-bg_highlight-hard_100_f9f9f9_1x100.png.xhtml?ln=standard&amp;v=1_0)
		50% top repeat-x;
	color: #222222;
}

.login-ui-widget-content a {
	color: #222222;
}

.login-ui-widget-header {
	border: 1px solid #a3a3a3;
	background: #333333
		url(/ai/javax.faces.resource/img/black-tie/ui-bg_diagonals-thick_8_333333_40x40.png.xhtml?ln=standard&amp;v=1_0)
		50% 50% repeat;
	color: #eeeeee;
	font-weight: bold;
}

.login-ui-widget-header a {
	color: #eeeeee;
} /* Interaction states----------------------------------*/
.login-ui-state-default, .login-ui-widget-content .login-ui-state-default,
	.login-ui-widget-header .login-ui-state-default {
	border: 1px solid #777777;
	background: #111111
		url(/ai/javax.faces.resource/img/black-tie/ui-bg_glass_40_111111_1x400.png.xhtml?ln=standard&amp;v=1_0)
		50% 50% repeat-x;
	font-weight: normal;
	color: #e3e3e3;
}

.login-ui-state-default a, .login-ui-state-default a:link, .login-ui-state-default a:visited
	{
	color: #e3e3e3;
	text-decoration: none;
}

.login-ui-state-hover, .login-ui-widget-content .login-ui-state-hover, .login-ui-widget-header .login-ui-state-hover,
	.login-ui-state-focus, .login-ui-widget-content .login-ui-state-focus, .login-ui-widget-header .login-ui-state-focus
	{
	border: 1px solid #000000;
	background: #1c1c1c
		url(/ai/javax.faces.resource/img/black-tie/ui-bg_glass_55_1c1c1c_1x400.png.xhtml?ln=standard&amp;v=1_0)
		50% 50% repeat-x;
	font-weight: normal;
	color: #ffffff;
}

.login-ui-state-hover a, .login-ui-state-hover a:hover {
	color: #ffffff;
	text-decoration: none;
}

.login-ui-state-active, .login-ui-widget-content .login-ui-state-active, .login-ui-widget-header .login-ui-state-active
	{
	border: 1px solid #cccccc;
	background: #ffffff
		url(/ai/javax.faces.resource/img/black-tie/ui-bg_flat_65_ffffff_40x100.png.xhtml?ln=standard&amp;v=1_0)
		50% 50% repeat-x;
	font-weight: normal;
	color: #222222;
}

.login-ui-state-active a, .login-ui-state-active a:link, .login-ui-state-active a:visited
	{
	color: #222222;
	text-decoration: none;
}

.login-ui-widget:active {
	outline: none;
} /* Interaction Cues----------------------------------*/
.login-ui-state-highlight, .login-ui-widget-content .login-ui-state-highlight,
	.login-ui-widget-header .login-ui-state-highlight {
	border: 1px solid #ffde2e;
	background: #ffeb80
		url(/ai/javax.faces.resource/img/black-tie/ui-bg_inset-hard_55_ffeb80_1x100.png.xhtml?ln=standard&amp;v=1_0)
		50% bottom repeat-x;
	color: #363636;
}

.login-ui-state-highlight a, .login-ui-widget-content .login-ui-state-highlight a,
	.login-ui-widget-header .login-ui-state-highlight a {
	color: #363636;
}

.login-ui-state-error, .login-ui-widget-content .login-ui-state-error, .login-ui-widget-header .login-ui-state-error
	{
	border: 1px solid #9e0505;
	background: #cd0a0a
		url(/ai/javax.faces.resource/img/black-tie/ui-bg_inset-hard_45_cd0a0a_1x100.png.xhtml?ln=standard&amp;v=1_0)
		50% bottom repeat-x;
	color: #ffffff;
}

.login-ui-state-error a, .login-ui-widget-content .login-ui-state-error a,
	.login-ui-widget-header .login-ui-state-error a {
	color: #ffffff;
}

.login-ui-state-error-text, .login-ui-widget-content .login-ui-state-error-text,
	.login-ui-widget-header .login-ui-state-error-text {
	color: #ffffff;
}

.login-ui-priority-primary, .login-ui-widget-content .login-ui-priority-primary,
	.login-ui-widget-header .login-ui-priority-primary {
	font-weight: bold;
}

.login-ui-priority-secondary, .login-ui-widget-content .login-ui-priority-secondary,
	.login-ui-widget-header .login-ui-priority-secondary {
	opacity: .7;
	filter: Alpha(Opacity = 70);
	font-weight: normal;
}

.login-ui-state-disabled, .login-ui-widget-content .login-ui-state-disabled,
	.login-ui-widget-header .login-ui-state-disabled {
	opacity: .35;
	filter: Alpha(Opacity = 35);
	background-image: none;
} /* Icons----------------------------------*/ /* states and images */
.login-ui-icon {
	width: 16px;
	height: 16px;
	background-image:
		url(/ai/javax.faces.resource/img/black-tie/ui-icons_222222_256x240.png.xhtml?ln=standard&amp;v=1_0);
}

.login-ui-widget-content .login-ui-icon {
	background-image:
		url(/ai/javax.faces.resource/img/black-tie/ui-icons_222222_256x240.png.xhtml?ln=standard&amp;v=1_0);
}

.login-ui-widget-header .login-ui-icon {
	background-image:
		url(/ai/javax.faces.resource/img/black-tie/ui-icons_bbbbbb_256x240.png.xhtml?ln=standard&amp;v=1_0);
}

.login-ui-state-default .login-ui-icon {
	background-image:
		url(/ai/javax.faces.resource/img/black-tie/ui-icons_ededed_256x240.png.xhtml?ln=standard&amp;v=1_0);
}

.login-ui-state-hover .login-ui-icon, .login-ui-state-focus .login-ui-icon {
	background-image:
		url(/ai/javax.faces.resource/img/black-tie/ui-icons_ffffff_256x240.png.xhtml?ln=standard&amp;v=1_0);
}

.login-ui-state-active .login-ui-icon {
	background-image:
		url(/ai/javax.faces.resource/img/black-tie/ui-icons_222222_256x240.png.xhtml?ln=standard&amp;v=1_0);
}

.login-ui-state-highlight .login-ui-icon {
	background-image:
		url(/ai/javax.faces.resource/img/black-tie/ui-icons_4ca300_256x240.png.xhtml?ln=standard&amp;v=1_0);
}

.login-ui-state-error .login-ui-icon, .login-ui-state-error-text .login-ui-icon {
	background-image:
		url(/ai/javax.faces.resource/img/black-tie/ui-icons_ffcf29_256x240.png.xhtml?ln=standard&amp;v=1_0);
} /* positioning */
.login-ui-icon-carat-1-n {
	background-position: 0 0;
}

.login-ui-icon-carat-1-ne {
	background-position: -16px 0;
}

.login-ui-icon-carat-1-e {
	background-position: -32px 0;
}

.login-ui-icon-carat-1-se {
	background-position: -48px 0;
}

.login-ui-icon-carat-1-s {
	background-position: -64px 0;
}

.login-ui-icon-carat-1-sw {
	background-position: -80px 0;
}

.login-ui-icon-carat-1-w {
	background-position: -96px 0;
}

.login-ui-icon-carat-1-nw {
	background-position: -112px 0;
}

.login-ui-icon-carat-2-n-s {
	background-position: -128px 0;
}

.login-ui-icon-carat-2-e-w {
	background-position: -144px 0;
}

.login-ui-icon-triangle-1-n {
	background-position: 0 -16px;
}

.login-ui-icon-triangle-1-ne {
	background-position: -16px -16px;
}

.login-ui-icon-triangle-1-e {
	background-position: -32px -16px;
}

.login-ui-icon-triangle-1-se {
	background-position: -48px -16px;
}

.login-ui-icon-triangle-1-s {
	background-position: -64px -16px;
}

.login-ui-icon-triangle-1-sw {
	background-position: -80px -16px;
}

.login-ui-icon-triangle-1-w {
	background-position: -96px -16px;
}

.login-ui-icon-triangle-1-nw {
	background-position: -112px -16px;
}

.login-ui-icon-triangle-2-n-s {
	background-position: -128px -16px;
}

.login-ui-icon-triangle-2-e-w {
	background-position: -144px -16px;
}

.login-ui-icon-arrow-1-n {
	background-position: 0 -32px;
}

.login-ui-icon-arrow-1-ne {
	background-position: -16px -32px;
}

.login-ui-icon-arrow-1-e {
	background-position: -32px -32px;
}

.login-ui-icon-arrow-1-se {
	background-position: -48px -32px;
}

.login-ui-icon-arrow-1-s {
	background-position: -64px -32px;
}

.login-ui-icon-arrow-1-sw {
	background-position: -80px -32px;
}

.login-ui-icon-arrow-1-w {
	background-position: -96px -32px;
}

.login-ui-icon-arrow-1-nw {
	background-position: -112px -32px;
}

.login-ui-icon-arrow-2-n-s {
	background-position: -128px -32px;
}

.login-ui-icon-arrow-2-ne-sw {
	background-position: -144px -32px;
}

.login-ui-icon-arrow-2-e-w {
	background-position: -160px -32px;
}

.login-ui-icon-arrow-2-se-nw {
	background-position: -176px -32px;
}

.login-ui-icon-arrowstop-1-n {
	background-position: -192px -32px;
}

.login-ui-icon-arrowstop-1-e {
	background-position: -208px -32px;
}

.login-ui-icon-arrowstop-1-s {
	background-position: -224px -32px;
}

.login-ui-icon-arrowstop-1-w {
	background-position: -240px -32px;
}

.login-ui-icon-arrowthick-1-n {
	background-position: 0 -48px;
}

.login-ui-icon-arrowthick-1-ne {
	background-position: -16px -48px;
}

.login-ui-icon-arrowthick-1-e {
	background-position: -32px -48px;
}

.login-ui-icon-arrowthick-1-se {
	background-position: -48px -48px;
}

.login-ui-icon-arrowthick-1-s {
	background-position: -64px -48px;
}

.login-ui-icon-arrowthick-1-sw {
	background-position: -80px -48px;
}

.login-ui-icon-arrowthick-1-w {
	background-position: -96px -48px;
}

.login-ui-icon-arrowthick-1-nw {
	background-position: -112px -48px;
}

.login-ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px;
}

.login-ui-icon-arrowthick-2-ne-sw {
	background-position: -144px -48px;
}

.login-ui-icon-arrowthick-2-e-w {
	background-position: -160px -48px;
}

.login-ui-icon-arrowthick-2-se-nw {
	background-position: -176px -48px;
}

.login-ui-icon-arrowthickstop-1-n {
	background-position: -192px -48px;
}

.login-ui-icon-arrowthickstop-1-e {
	background-position: -208px -48px;
}

.login-ui-icon-arrowthickstop-1-s {
	background-position: -224px -48px;
}

.login-ui-icon-arrowthickstop-1-w {
	background-position: -240px -48px;
}

.login-ui-icon-arrowreturnthick-1-w {
	background-position: 0 -64px;
}

.login-ui-icon-arrowreturnthick-1-n {
	background-position: -16px -64px;
}

.login-ui-icon-arrowreturnthick-1-e {
	background-position: -32px -64px;
}

.login-ui-icon-arrowreturnthick-1-s {
	background-position: -48px -64px;
}

.login-ui-icon-arrowreturn-1-w {
	background-position: -64px -64px;
}

.login-ui-icon-arrowreturn-1-n {
	background-position: -80px -64px;
}

.login-ui-icon-arrowreturn-1-e {
	background-position: -96px -64px;
}

.login-ui-icon-arrowreturn-1-s {
	background-position: -112px -64px;
}

.login-ui-icon-arrowrefresh-1-w {
	background-position: -128px -64px;
}

.login-ui-icon-arrowrefresh-1-n {
	background-position: -144px -64px;
}

.login-ui-icon-arrowrefresh-1-e {
	background-position: -160px -64px;
}

.login-ui-icon-arrowrefresh-1-s {
	background-position: -176px -64px;
}

.login-ui-icon-arrow-4 {
	background-position: 0 -80px;
}

.login-ui-icon-arrow-4-diag {
	background-position: -16px -80px;
}

.login-ui-icon-extlink {
	background-position: -32px -80px;
}

.login-ui-icon-newwin {
	background-position: -48px -80px;
}

.login-ui-icon-refresh {
	background-position: -64px -80px;
}

.login-ui-icon-shuffle {
	background-position: -80px -80px;
}

.login-ui-icon-transfer-e-w {
	background-position: -96px -80px;
}

.login-ui-icon-transferthick-e-w {
	background-position: -112px -80px;
}

.login-ui-icon-folder-collapsed {
	background-position: 0 -96px;
}

.login-ui-icon-folder-open {
	background-position: -16px -96px;
}

.login-ui-icon-document {
	background-position: -32px -96px;
}

.login-ui-icon-document-b {
	background-position: -48px -96px;
}

.login-ui-icon-note {
	background-position: -64px -96px;
}

.login-ui-icon-mail-closed {
	background-position: -80px -96px;
}

.login-ui-icon-mail-open {
	background-position: -96px -96px;
}

.login-ui-icon-suitcase {
	background-position: -112px -96px;
}

.login-ui-icon-comment {
	background-position: -128px -96px;
}

.login-ui-icon-person {
	background-position: -144px -96px;
}

.login-ui-icon-print {
	background-position: -160px -96px;
}

.login-ui-icon-trash {
	background-position: -176px -96px;
}

.login-ui-icon-locked {
	background-position: -192px -96px;
}

.login-ui-icon-unlocked {
	background-position: -208px -96px;
}

.login-ui-icon-bookmark {
	background-position: -224px -96px;
}

.login-ui-icon-tag {
	background-position: -240px -96px;
}

.login-ui-icon-home {
	background-position: 0 -112px;
}

.login-ui-icon-flag {
	background-position: -16px -112px;
}

.login-ui-icon-calendar {
	background-position: -32px -112px;
}

.login-ui-icon-cart {
	background-position: -48px -112px;
}

.login-ui-icon-pencil {
	background-position: -64px -112px;
}

.login-ui-icon-clock {
	background-position: -80px -112px;
}

.login-ui-icon-disk {
	background-position: -96px -112px;
}

.login-ui-icon-calculator {
	background-position: -112px -112px;
}

.login-ui-icon-zoomin {
	background-position: -128px -112px;
}

.login-ui-icon-zoomout {
	background-position: -144px -112px;
}

.login-ui-icon-search {
	background-position: -160px -112px;
}

.login-ui-icon-wrench {
	background-position: -176px -112px;
}

.login-ui-icon-gear {
	background-position: -192px -112px;
}

.login-ui-icon-heart {
	background-position: -208px -112px;
}

.login-ui-icon-star {
	background-position: -224px -112px;
}

.login-ui-icon-link {
	background-position: -240px -112px;
}

.login-ui-icon-cancel {
	background-position: 0 -128px;
}

.login-ui-icon-plus {
	background-position: -16px -128px;
}

.login-ui-icon-plusthick {
	background-position: -32px -128px;
}

.login-ui-icon-minus {
	background-position: -48px -128px;
}

.login-ui-icon-minusthick {
	background-position: -64px -128px;
}

.login-ui-icon-close {
	background-position: -80px -128px;
}

.login-ui-icon-closethick {
	background-position: -96px -128px;
}

.login-ui-icon-key {
	background-position: -112px -128px;
}

.login-ui-icon-lightbulb {
	background-position: -128px -128px;
}

.login-ui-icon-scissors {
	background-position: -144px -128px;
}

.login-ui-icon-clipboard {
	background-position: -160px -128px;
}

.login-ui-icon-copy {
	background-position: -176px -128px;
}

.login-ui-icon-contact {
	background-position: -192px -128px;
}

.login-ui-icon-image {
	background-position: -208px -128px;
}

.login-ui-icon-video {
	background-position: -224px -128px;
}

.login-ui-icon-script {
	background-position: -240px -128px;
}

.login-ui-icon-alert {
	background-position: 0 -144px;
}

.login-ui-icon-info {
	background-position: -16px -144px;
}

.login-ui-icon-notice {
	background-position: -32px -144px;
}

.login-ui-icon-help {
	background-position: -48px -144px;
}

.login-ui-icon-check {
	background-position: -64px -144px;
}

.login-ui-icon-bullet {
	background-position: -80px -144px;
}

.login-ui-icon-radio-off {
	background-position: -96px -144px;
}

.login-ui-icon-radio-on {
	background-position: -112px -144px;
}

.login-ui-icon-pin-w {
	background-position: -128px -144px;
}

.login-ui-icon-pin-s {
	background-position: -144px -144px;
}

.login-ui-icon-play {
	background-position: 0 -160px;
}

.login-ui-icon-pause {
	background-position: -16px -160px;
}

.login-ui-icon-seek-next {
	background-position: -32px -160px;
}

.login-ui-icon-seek-prev {
	background-position: -48px -160px;
}

.login-ui-icon-seek-end {
	background-position: -64px -160px;
}

.login-ui-icon-seek-start {
	background-position: -80px -160px;
} /* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.login-ui-icon-seek-first {
	background-position: -80px -160px;
}

.login-ui-icon-stop {
	background-position: -96px -160px;
}

.login-ui-icon-eject {
	background-position: -112px -160px;
}

.login-ui-icon-volume-off {
	background-position: -128px -160px;
}

.login-ui-icon-volume-on {
	background-position: -144px -160px;
}

.login-ui-icon-power {
	background-position: 0 -176px;
}

.login-ui-icon-signal-diag {
	background-position: -16px -176px;
}

.login-ui-icon-signal {
	background-position: -32px -176px;
}

.login-ui-icon-battery-0 {
	background-position: -48px -176px;
}

.login-ui-icon-battery-1 {
	background-position: -64px -176px;
}

.login-ui-icon-battery-2 {
	background-position: -80px -176px;
}

.login-ui-icon-battery-3 {
	background-position: -96px -176px;
}

.login-ui-icon-circle-plus {
	background-position: 0 -192px;
}

.login-ui-icon-circle-minus {
	background-position: -16px -192px;
}

.login-ui-icon-circle-close {
	background-position: -32px -192px;
}

.login-ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}

.login-ui-icon-circle-triangle-s {
	background-position: -64px -192px;
}

.login-ui-icon-circle-triangle-w {
	background-position: -80px -192px;
}

.login-ui-icon-circle-triangle-n {
	background-position: -96px -192px;
}

.login-ui-icon-circle-arrow-e {
	background-position: -112px -192px;
}

.login-ui-icon-circle-arrow-s {
	background-position: -128px -192px;
}

.login-ui-icon-circle-arrow-w {
	background-position: -144px -192px;
}

.login-ui-icon-circle-arrow-n {
	background-position: -160px -192px;
}

.login-ui-icon-circle-zoomin {
	background-position: -176px -192px;
}

.login-ui-icon-circle-zoomout {
	background-position: -192px -192px;
}

.login-ui-icon-circle-check {
	background-position: -208px -192px;
}

.login-ui-icon-circlesmall-plus {
	background-position: 0 -208px;
}

.login-ui-icon-circlesmall-minus {
	background-position: -16px -208px;
}

.login-ui-icon-circlesmall-close {
	background-position: -32px -208px;
}

.login-ui-icon-squaresmall-plus {
	background-position: -48px -208px;
}

.login-ui-icon-squaresmall-minus {
	background-position: -64px -208px;
}

.login-ui-icon-squaresmall-close {
	background-position: -80px -208px;
}

.login-ui-icon-grip-dotted-vertical {
	background-position: 0 -224px;
}

.login-ui-icon-grip-dotted-horizontal {
	background-position: -16px -224px;
}

.login-ui-icon-grip-solid-vertical {
	background-position: -32px -224px;
}

.login-ui-icon-grip-solid-horizontal {
	background-position: -48px -224px;
}

.login-ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px;
}

.login-ui-icon-grip-diagonal-se {
	background-position: -80px -224px;
} /* Misc visuals----------------------------------*/
/* Corner radius */
.login-ui-corner-tl {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}

.login-ui-corner-tr {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.login-ui-corner-bl {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.login-ui-corner-br {
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.login-ui-corner-top {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.login-ui-corner-bottom {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.login-ui-corner-right {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.login-ui-corner-left {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.login-ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
} /* Overlays */
.login-ui-widget-overlay {
	background: #aaaaaa
		url(/ai/javax.faces.resource/img/black-tie/ui-bg_highlight-hard_40_aaaaaa_1x100.png.xhtml?ln=standard&amp;v=1_0)
		50% top repeat-x;
	opacity: .30;
	filter: Alpha(Opacity = 30);
}

.login-ui-widget-shadow {
	margin: -8px 0 0 -8px;
	padding: 8px;
	background: #aaaaaa
		url(/ai/javax.faces.resource/img/black-tie/ui-bg_highlight-soft_50_aaaaaa_1x100.png.xhtml?ln=standard&amp;v=1_0)
		50% top repeat-x;
	opacity: .20;
	filter: Alpha(Opacity = 20);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
} /* PrimeFaces Extensions */
.login-ui-inputfield, .login-ui-widget-content .login-ui-inputfield, .login-ui-widget-header .login-ui-inputfield
	{
	height: 20px;
	width: 240px;
	font-size: 17px; 
	padding: 3px;
	background: #ffffff;
	-moz-box-shadow: inset 0 2px 2px #8f8f8f;
	-webkit-box-shadow: inset 0 2px 2px #8f8f8f;
	box-shadow: inset 0 2px 2px #8f8f8f;
	color: #222222;
}
/*color of the label background */
input:-webkit-autofill {
	    -webkit-box-shadow: inset 0 0 0px 1000px white;
	}


.login-ui-inputfield.login-ui-state-focus, .login-ui-widget-content .login-ui-inputfield.login-ui-state-focus,
	.login-ui-widget-header .login-ui-inputfield.login-ui-state-focus {
	-moz-box-shadow: 0px 0px 5px #000000, inset 0 2px 2px #8f8f8f;
	-webkit-box-shadow: 0px 0px 5px #000000, inset 0 2px 2px #8f8f8f;
	box-shadow: 0px 0px 5px #000000, inset 0 2px 2px #8f8f8f;
}