/*generally*/
body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #F5F5F5;
	background-repeat: no-repeat;
	background-position: right top;
	font-family: 'Ubuntu', sans-serif;
	color: #000000;
}

/*change look of links/urls */
a {
	color: #333;
}

/*Header in showPerson, for example skills header */
h3 {
	color: black;
	font-size: 23px;
	margin-top: auto;
	margin-bottom: 10px;
}

.loginCenter h4 {
	font-size: 25px;
	text-align: center;
	margin: 0 25%;
	padding-bottom: 10px;
	border-bottom: 1px solid #000000;
}

/*add background to loader window*/
.ui-dialog .ui-dialog-content {
	background-color: #F5F5F5 !important;
}

/*Back to top button */
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #333 url("#{resource['standard:img/up-arrow.png']}")
		no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/*layout of Profile details at editEmployeeForm and editProfileForm - deletes column headers*/
.tableLikeForm thead th {
	border: none !important;
	background: none !important;
}

/*layout of Profile details at editEmployeeForm and editProfileForm - deletes borders*/
.tableLikeForm tbody td {
	border: none !important;
}

/*generally*/
.ui-widget-content {
	background: transparent;
	margin: 10px;
	border: none;
}

/*layout of company logo*/
#logoGroup {
	display: block;
	background: transparent;
	padding: 30px;
	height: 170px;
}

/*layout of header of page with background photo*/
.header {
	height: 100vh;
	width: 100vw;
	background: url("#{resource['standard:img/logo-background.jpg']}");
	margin-left: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*displays "Altimi Softiti" in the footer at small pages*/
.footer {
	text-align: center;
	position: absolute;
	bottom: 5px;
	width: 100%;
	font-size: 18px;
}

/*displays "Altimi Softiti" in the footer at pages with scroll bar*/
.footer2 {
	text-align: center;
	position: absolute;
	padding-bottom: 5px;
	width: 100%;
	font-size: 18px;
	bottom: 0%;
}

/*displays "Altimi Softiti" in the footer at pages which size changes*/
.footer3 {
	text-align: center;
	position: fixed;
	bottom: 5px;
	width: 100%;
	font-size: 18px;
}

/*layout of footer at welcome page*/
.ui-layout-unit-footer.ui-widget-header.ui-corner-all {
	border: none !important;
	background: none !important;
	text-align: center;
	font-weight: normal;
}

/*frame with logoutCenter_loginCenter*/
.logoutCenter_loginCenter {
	box-sizing: border-box;
	width: 400px;
    position: fixed;
    padding: 15px;
   	top: 50vh;
   	left: 50vw;
   	margin-top: -120px;
   	margin-left: -200px;
    border: 1px solid #000000;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5); 
}

/*font and arrangement of login components on login page*/
.loginCenter {
	margin: 0 auto;
	text-align: center;
    position: relative;
}

/*center "login table" on login page*/
.loginPanel {
	display: table;
	margin: 0 auto;
}

/* labels are in left side*/
.loginPanel tbody tr td {
	text-align: left;
}

/*layout of empty menubar on login page*/
.menubarLogin {
	position: absolute;
	width: 100%;
	height: 62px;
}

/*fix layout of menubar at login page*/
.ui-menu.ui-menubar.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix
	{
	background: none;
	background-color: #333;
	border: none;
	border-radius: 0px;
}

/*delete some border from login page*/
.ui-layout-unit.ui-widget.ui-widget-content.ui-corner-all.ui-layout-south
	{
	border: none;
}

/*delete some border from login page*/
.ui-layout-unit-content.ui-widget-content {
	border: none;
}

/*arrangement and layout of submit button on login page*/
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
	{
	margin-top: 20px;
	margin-bottom: 0px;
	height: 30px;
	width: 248px;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	background:	#000000;
	border: 0px;
	float: right;
}

/*layout of error message (bad credentials) on login page*/
.loginError {
	padding-top: 6%;
	color: red;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

/*layout of logout message on login page*/
.logoutCenter {
	text-align: center;
	font-size: 20px;
	/*font-style: italic;*/
	position: relative;
}

/*main menu (under background photo)*/
.ui-menubar {
	background-color: #333;
	height: 62px;
}

/*layout of logout menuitem*/
.logout {
	display: block;
	position: absolute;
	right: 0px;
	height: 20%;
}

/*layout of logout submit*/
.logout-button {
	display: block;
	background: url("#{resource['standard:img/ic_exit.png']}");
	background-color: #D32F2F;
	background-repeat: no-repeat;
	background-position: 82px;
	width: 110px !important;
	border-style: none;
	height: 62px;
	font-family: 'Ubuntu', sans-serif !important;
}

/*layout of logout submit when hover*/
.logout-button:HOVER {
	background: url("#{resource['standard:img/ic_exit.png']}") !important;
	background-color: #F44336 !important;
	background-repeat: no-repeat !important;
	background-position: 82px !important;
	font-family: 'Ubuntu', sans-serif !important;
}

/*main menu (under background photo) - black buttons have no padding*/
.ui-menu {
	padding: 0 !important;
	float: left;
}

/*main menu (under background photo) - text on buttons*/
.ui-menuitem-text {
	display: block;
	color: white;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
}

/*main menu (under background photo) - layout of buttons when you hover them*/
.ui-menuitem-link:hover {
	background-image: none;
	background-color: black;
}

/*padding on report, inputForm and editProfile pages*/
.pad {
	padding-left: 20px;
	padding-right: 20px;
}

/*layout of title of the list at expanded rows at addTeamForm*/
.listTitle {
	margin-left: 10px;
	line-height: 50px;
	vertical-align: bottom !important;
}

/*layout of lists*/
.ui-datalist-data {
	margin: 0;
	margin-bottom: 10px;
}

/*layout of fieldset when is convoluted*/
.ui-fieldset-toggler.ui-icon.ui-icon-plusthick {
	margin-right: 10px;
	margin-top: 1px;
	padding: 0;
}

/*layout of fieldset when is expanded*/
.ui-fieldset-toggler.ui-icon.ui-icon-minusthick {
	margin-right: 10px;
	margin-top: 1px;
	padding: 0;
}

/*confirmation window*/
.ui-confirm-dialog {
	background-color: #F5F5F5;
}

/*background of autocomplete lists*/
.ui-autocomplete-items.ui-autocomplete-list.ui-widget-content.ui-widget.ui-corner-all.ui-helper-reset
	{
	background-color: #F5F5F5 !important;
}

/*background of double autocomplete lists*/
.ui-autocomplete-panel.ui-widget-content.ui-corner-all.ui-helper-hidden.ui-shadow
	{
	background-color: #F5F5F5 !important;
}

/*layout of highlight autocomplete's items*/
.ui-autocomplete-item.ui-autocomplete-list-item.ui-corner-all.ui-state-highlight
	{
	background-image:
		url("/ai/javax.faces.resource/images/ui-bg_glass_55_1c1c1c_1x400.png.xhtml?ln=primefaces-black-tie");
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: initial;
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: #1c1c1c;
	color: white;
}

/*layout of highlight double autocomplete's items*/
.ui-autocomplete-item.ui-autocomplete-row.ui-widget-content.ui-corner-all.ui-state-highlight
	{
	background-image:
		url("/ai/javax.faces.resource/images/ui-bg_glass_55_1c1c1c_1x400.png.xhtml?ln=primefaces-black-tie");
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: initial;
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: #1c1c1c;
	color: white;
	border: 1px solid black;
}

/*layout of selected item at selectOneMenu*/
.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-state-highlight
	{
	background: none;
	background-color: #babdb6;
}

/*layout of selected item at selectOneMenu with noselection option*/
.ui-selectonemenu-item.ui-selectonemenu-row.ui-widget-content.ui-state-highlight
	{
	background: none;
	border: none;
	background-color: #babdb6;
}

/*delete background from noSelectionOption when something else is selected*/
.ui-state-active.ui-widget-content.ui-widget-header {
	background: none;
}

/*layout of items at selectOneMenu*/
.ui-selectonemenu-item {
	height: 22px !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

/*selectOneMenu lists*/
.ui-selectonemenu-panel {
	background-color: #F5F5F5;
}

/*selectOneMenu icon*/
.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
	top: 15px !important;
	right: 3px !important;
}

/*displaying first row (without data)*/
.ui-selectonemenu-panel .ui-selectonemenu-item {
	height: 31px;
}

/*width of input field with selectOneMenu when is editing*/
.ui-selectonemenu-label.ui-inputfield.ui-corner-all {
	width: 100% !important;
}

/*width of input fields*/
.ui-inputfield {
	width: 250px;
}

/*width of input fields in selectOneMenu*/
.ui-selectonemenu-label {
	width: 216px !important;
}

/*width of input fields in selectOneMenu*/
.ui-selectonemenu-trigger {
	width: 18px !important;
}

/*layout of panel's header when active*/
.ui-accordion-header.ui-helper-reset.ui-state-active.ui-corner-top {
	background-image:
		url("/ai/javax.faces.resource/images/ui-bg_glass_20_555555_1x400.png.xhtml?ln=primefaces-ui-darkness");
	color: white;
}

/*layout of icon at panel's header when active*/
.ui-icon.ui-icon-triangle-1-s {
	background-image:
		url("/ai/javax.faces.resource/images/ui-icons_ededed_256x240.png.xhtml?ln=primefaces-black-tie");
}

/*inputfield when hover on searchForm*/
.ui-autocomplete-input.ui-inputfield.ui-widget.ui-state-default.ui-corner-all
	{
	background: white !important;
}

/*layout of searchForm*/
.search {
	display: table;
	text-align: left;
	margin: 0 auto;
}

/*layout of title on searchForm page*/
.searchHeader {
	font-size: 25px;
	font-weight: bold;
	margin-top: 80px;
}

/*layout of button on searchForm page*/
.submitSearchButton {
	float: right;
	margin-top: 10px;
	margin-right: 6px;
}

/*layout of button on edit employee page*/
.submitSearchButton2 {
	float: left;
	margin-top: 10px;
}

/*layout of buttons*/
.ui-button {
	margin-bottom: 20px;
}

/*layout of "Generate PDF Altimi" and "Generate PDF Softiti" buttons*/
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text.ui-c
	{
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}

/*layout of "Generate PDF Altimi" and "Generate PDF Softiti" buttons on showPerson page*/
.generateButtons {
	text-align: right;
}

.warningMessage {
	text-align: left;
	text-indent: 20px;
	font-weight: bold;
	font-size: 20px;
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	border-radius: 4px;
	line-height: 50px;
	color: #b94a48;
}

/*layout of "Generate" to .odt buttons on showPerson page*/
.odtButton {
	width: 210px;
}

/*layout of "Generate" to .odt buttons when hover on showPerson page*/
.odtButton:hover {
	width: 210px;
	color: white;
	border-color: black;
	background-image:
		url("/ai/javax.faces.resource/images/ui-bg_glass_55_1c1c1c_1x400.png.xhtml?ln=primefaces-black-tie");
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: initial;
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: #1c1c1c;
}

/*layout of "Generate" to .pdf buttons on showPerson page*/
.pdfButton {
	width: 210px;
}

/*layout of "Generate" to .pdf buttons when hover on showPerson page*/
.pdfButton:hover {
	width: 210px;
	color: white;
	border-color: black;
	background-image:
		url("/ai/javax.faces.resource/images/ui-bg_glass_55_1c1c1c_1x400.png.xhtml?ln=primefaces-black-tie");
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: initial;
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: #1c1c1c;
}

/*Layout of 'Go to generate CV' text at editProfile and editEmployee pages*/
.goToGenerateCvText {
	line-height: 40px;
	padding: 15px;
	white-space: nowrap;
	color: white;
	font-size: 21px;
	cursor: pointer;
}

/*Layout of image next to 'Go to generate CV' text at editProfile and editEmployee pages*/
.goToGenerateCvImage {
	height: 70px;
}

/*Layout of 'Go to generate CV' panelGrid at editProfile and editEmployee pages*/
.goToGenerateCvPanelGrid {
	margin-top: 23%;
	margin-left: 50%;
}

/*Layout of columns of panelGrid which has 'Go to generate CV' and 'Profile details' at editProfile and editEmployee pages*/
.columnsAtTop {
	vertical-align: top;
}

/*displaying person name as title on showPerson*/
.ui-panel-titlebar {
	border: none;
	background: transparent;
}

/*displaying person name as title (font) on showPerson*/
.ui-panel-title {
	color: #4F4F4F;
	font-size: 23px;
	line-height: 43px;
}

/*displaying job title under name*/
.employeeRole {
	font-style: italic !important;
	font-size: 20px !important;
	padding: none;
	margin-bottom: 30px;
}

/*layout of text on help page*/
.welcomeTitle {
	margin-top: 50px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

/*layout of list at help page*/
.list {
	padding-left: 20px;
}

/*layout of first paragraph at help page*/
.paragraph {
	padding-top: 20px;
	font-size: 18px;
}

/*layout of text at help page*/
.center {
	display: table;
	margin: 0 auto;
	width: 82%;
	font-size: 18px;
}

/*stop displaying scroll bar at layoutUnit at welcome page*/
.ui-layout-unit-content.ui-widget-content {
	overflow: hidden !important;
}

/*layout of showResult page*/
.result {
	font-size: 23px;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 25px;
}

/*layout of panel on showResult page*/
.ui-accordion {
	font-weight: bold;
}

/*layout of list in table at showResult page*/
.ui-datalist-data {
	padding: 5px;
	margin: 5px;
	margin-left: 20px;
}

/*layout of "No project assigned" text in table at showResult page*/
.ui-datalist .ui-datalist-empty-message {
	padding: 5px;
	margin: 5px;
	margin-left: 20px;
}

/*layout of pencil icon on editProfile page*/
.ui-datatable .ui-row-editor .ui-icon-pencil {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("#{resource['standard:img/ic-edit-pencil.png']}");
	width: 24px;
	height: 24px;
}

/*layout of check icon on editProfile page*/
.ui-datatable .ui-row-editor .ui-icon-check {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("#{resource['standard:img/ic-check.png']}");
	width: 24px;
	height: 24px;
}

/*layout of cross icon on editProfile page*/
.ui-datatable .ui-row-editor .ui-icon-close {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("#{resource['standard:img/ic-close.png']}");
	width: 24px;
	height: 24px;
}

/*layout of background in project table when user try accept empty field while editing*/
.ui-row-editing.ui-state-error {
	background: #AEAEAE;
	border-color: #4F4F4F;
}

/*layout of marks required*/
.ui-state-error .ui-widget-content .ui-widget-header {
	border-color: red;
	border-width: thick;
	border-collapse: separate;
}

/*layout of required fields borders at table when edit*/
.ui-autocomplete-input .ui-inputfield .ui-widget .ui-state-error .ui-corner-all
	{
	border-color: red;
	border-width: thick;
	border-collapse: separate;
}

.ui-outputlabel.ui-widget.ui-state-error {
	background: none;
	color: black;
}

/*input field while editing*/
.ui-cell-editor-input {
	width: 90%;
}

/*layout of inputfields*/
.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker {
	width: 95%;
}

/*layout of inputfields*/
.ui-autocomplete-input.ui-inputfield.ui-widget.ui-state-default.ui-corner-all
	{
	width: 95%;
}

/*layout of table background when edit*/
.ui-widget-content.ui-datatable-odd.ui-state-highlight.ui-row-editing {
	background: none;
	border: none;
	background-color: #AEAEAE;
}

/*layout of table background when edit*/
.ui-widget-content.ui-datatable-even.ui-state-highlight.ui-row-editing {
	background: none;
	border: none;
	background-color: #AEAEAE;
}

/*layout of error message on addProjectForm page*/
.name-exists-message-error {
	color: #b94a48;
	background-color: transparent;
	border-color: #b94a48;
}